
:root {
    --color-primary: #212121 ;
    --color-active: #2196f3;
    --color-secondary: #757575;
    --background-color-primary: #fff;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}

body { font-family: var(--font-family-primary);
 font-family: var(--font-family-logo);
 color: var(--color-primary);
 background-color: var(--background-color-primary);
font-weight: 400;
font-size: 14px;
line-height: 1.17;
}

/* Шапка  */
   .logo {color: var(--color-primary);
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.94;}   

    .logo-word { color: var(--color-active);}

    .menu { font-weight: 500;}

    .menu-item { color: transparent;}
    .menu-link { color: var(--color-primary);}
    .menu-link:hover {color: var(--color-active); }

    .menu-contacts { color: var(--color-secondary);}
    .menu-contacts:hover {color: var(--color-active);}
    .menu-contacts:focus { color: var(--color-active); }
  
    /* Кнопка */
.background-button { background-color: #2f303a;}
.title-button { color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;}    
.button-main {
 color: #fff;
 font-weight: 700;
 line-height: 1.88;
 cursor: pointer;
 background-color: var(--color-active); 
 border-radius: 4px;
 border: 1px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-main:hover {background-color: #188CE8;
color: #fff;}

/* Преимущества */
.benefits-item { color: transparent;}
.benefits-title {color: var(--color-primary);
    font-weight: 700;
    }
.benefits-paragraph { color: var(--color-secondary);
    }

/* Чем мы занимаемся */
.services-item { color: transparent;}
.service-title { font-weight: 700;
    font-size: 36px;}

/* Команда */
.team {background-color: #f5f4fa;}
.team-item {color: transparent;
background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}  
.team-title { font-weight: 700;
  font-size: 36px;}
.name{color: var(--color-primary);
font-weight: 500;
line-height: 1.18;}
.job {color: var(--color-secondary);}

/* Подвал */
.footer-logo {color: #fff;}
.footer { background-color: #2f303a;
    }
.address { color: #fff;
font-style: normal;}
.footer-contacts { color: var(--color-secondary);}
.footer-contacts:hover {color: var(--color-active);}
..footer-contacts:focus {color: var(--color-active);}

/* Кнопки портфолио */
.buttons {color: var(--color-primary);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
background-color: #f5f4fa;
cursor: pointer;
border-radius: 4px;
border: 1px;}
.buttons:hover {background-color: #2196f3;}
.buttons-item {color: transparent;}

/*Примеры работ */
.examples-item { color: transparent;
 border: 1px solid #EEEEEE;}

 .examples-title {color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;}
 .examples-form { color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.87;}