
:root {
    --color-primary: #212121 ;
    --color-active: #2196f3;
    --color-secondary: #757575;
    --color-text: #fff;
    --background-color-section: #f5f4fa;
    --background-color-click: #188CE8;
    --background-color-primary: #fff;
    --background-color-bord: #2f303a;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}

body { font-family: var(--font-family-primary);
 color: var(--color-primary);
 background-color: var(--background-color-primary);
font-weight: 400;
font-size: 14px;
}

/* Шапка  */
   .logo {color: var(--color-primary);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.94;
    letter-spacing: 0.03em;}   

    .logo-word { color: var(--color-active);}

    
    .menu-link { color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0.02em;}
    .menu-link:hover {color: var(--color-active); }

    .menu-contacts { color: var(--color-secondary);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0.02em;}
    .menu-contacts:hover {color: var(--color-active);}
    .menu-contacts:focus { color: var(--color-active); }
  
    /* Кнопка */
.background-button { background-color: var(--background-color-bord);}
.title-button { color: var(--color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase}    
.button-main {
 color: var(--color-text);
 font-family: var(--font-family-primary);
 font-weight: 700;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;
 cursor: pointer;
 background-color: var(--color-active); 
 border-radius: 4px;
 border: 1px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-main:hover {background-color: var(--background-color-click);}

/* Преимущества */

.benefits-title {color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.172;
    letter-spacing: 0.03em;
    }
.benefits-paragraph { color: var(--color-secondary);
    letter-spacing: 0.03em;
    line-height: 1.715;
    }

/* Чем мы занимаемся */

.services-title { font-weight: 700;
    font-size: 36px;
    line-height: 1.172;
    letter-spacing: 0.03em;}

/* Команда */
.team {background-color: var(--background-color-section);}
.team-item {
background-color: var(--background-color-primary);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}  
.team-title { font-weight: 700;
  font-size: 36px;}
.name{color: var(--color-primary);
 font-weight: 500;
 font-size: 16px;
 line-height: 1.18;
 letter-spacing: 0.03em;}
.job {color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.172;
    letter-spacing: 0.03em;}

/* Подвал */
.footer-logo {color: var(--color-text);
    font-family: var(--font-family-logo);
 text-decoration: none;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.192;
letter-spacing: 0.03em;
}
.footer { background-color: var(--background-color-bord);
    line-height: 1.72; }
.address { color: var(--color-text);
font-style: normal;
letter-spacing: 0.03em;
}
.footer-contacts { color: var(--color-secondary);
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
letter-spacing: 0.03em;}
.footer-contacts:hover {color: var(--color-active);}
.footer-contacts:focus {color: var(--color-active);}

/* Кнопки портфолио */
.buttons { font-family: var(--font-family-primary);
    color: var(--color-primary);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.625;
background-color: var(--background-color-section);
cursor: pointer;
border-radius: 4px;
border: 1px;}
.buttons:hover {background-color: var(--color-active);}


/*Примеры работ */
.examples-item { 
 border: 1px solid #EEEEEE;}

 .examples-title {color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;}
 .examples-form { color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}

